body {
  background-color: aqua;
}

.container {
  background-color: #faebd7;
  text-align: center;
  display: block;
  margin: 10px auto;
  font-family: "Times New Roman", Times, serif;
  max-width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.header {
  font-size: 50px;
  font-weight: bolder;
  color: blue;
}
.seoul img {
  border: 1px solid;
  border-radius: 10px;
  width: 300px;
}
.h2 {
  font-size: 30px;
}
.col {
  border: 1px solid blueviolet;
  border-radius: 10px;
  box-shadow: 20px;
}
.gallery img {
  border-radius: 10px;
  width: 300px;
  gap: 5px;
}
small {
  font-weight: lighter;
  font-family: cursive;
  font-style: italic;
}
strong {
  color: blueviolet;
  font-size: 18px;
}
.activities {
  border: none;
}
button {
  background-color: aqua;
  color: black;
  border: 1px solid aqua;
  border-radius: 10px;
  box-shadow: 20px;
  transition: all 200ms ease-in-out;
  box-shadow: 3px;
}
button:hover {
  background: blueviolet;
  cursor: pointer;
}
